@import url("index.css");



header{
    height: 100vh;
    /* background: var(--bg); */
    color: white;
  
}

.header-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-content h1{
    font-size: 6rem;
    font-weight: 800;
    color: var(--primary2);
}


@keyframes textEffect{
    100%{
        background-position: 2000px 0;
    }
}

.header-content p{
    font-size: 1.2rem;
    width: 60%;
}


.bg-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    .bg-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .bg-video{
        width: auto;
        height: 100%;
    }
    
}



nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background:transparent;
    height: 6rem;
    transition: all .2s ease ;
    padding: 1rem 0rem;
    z-index: 99999;
}
nav .logo{
    margin-left: 2rem;
}
nav .logo img{
    width: 3.8rem;
}

nav ul{
    margin-right: 2rem;

    display: flex;
    list-style: none;
}


nav ul li {
    margin: 0 .2rem;
}
    nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    padding: .2rem .4rem;
    transition: all .3s ease;
}
nav ul li a:hover,
nav ul li a.active{
    color: black;
    background-color: white;
    border-radius: .2rem;
}

nav.sticky{
    background: var(--primaryblue);
    opacity: .94;
    backdrop-filter: blur(1rem);
    height: 4.6rem;
    backdrop-filter: saturate(180%) blur(10px); 
}

nav .navTougleIcon,
nav .navTougleIcon-close{
    margin-right: 2rem;

    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

@media (max-width:1120px){
    .header-content h1{
        font-size: 4.4rem;
    }

}

@media (max-width:860px) {
    .header-content p{
        width: 60%;
    }

    .header-content h1{
        font-size: 3rem;
    }


    nav .navTougleIcon{
        display: block;
        z-index: 9999;
    }

    nav ul{
        position: fixed;
        top: 4rem;
        width: 100%;
        height: 100vh;
        left: 30%;
        padding: 3rem 2rem;
        display: block;
        transform: translateX(100%);
        transition: transform 350ms ease-in ;
        background: var(--primaryblue);
        
    }
    
    .primary-nav[data-visible="true"]{
        transform: translateX(0%);
    }
    
    
    .primary-nav.sticky{
        transition: all .2s ease ;
    }
    .primary-nav.sticky{
        background: var(--primaryblue);
        backdrop-filter: blur(1rem);
    }
    nav ul > li {
        margin: 2rem 0;
    }   
}

@media (max-width:570px){
    .header-content p{
        width: 80%;
        font-size: 1rem;
    }

    .header-content h1{
        font-size: 2.4rem;
    }
}


@media (max-width:460px){

    .header-content h1{
        font-size: 2rem;
    }
}

